<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Ur Hotel</title>
</head>

<body>
    <header>
        <h2 class="logo">UrHotel</h2>
        <nav class="navigation">
            <a href="/homeLogin">Home</a>
            <a href="">About</a>
            <a href="/categories">Types</a>
            <a href="/rooms">Book</a>
            <a href="">Contact</a>
            <a href="/profiles">Profile</a>
            <a href="/logout" class="btnLogin-popup btn" >Logout</a>
        </nav>
    </header>
    
            </div>
        </div>
    </div>

    <script src="/scripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <%- include("_links.ejs") %>    
</body>

</html>